{% extends "ads3/base_menu.html" %}

{% block content %}
<!--
<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form_container {
    position: absolute;
    top: 75px;
    right: 550px;
    width: 300px;
    padding: 5px;
    background-color: #f9f9f9;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.project {
    display: flex;
}

.card-container {
    flex: 75%;
}

.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.card-detail {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card-detail h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.card-detail h3 {
    margin-bottom: 20px;
}

.btn-area {
    align-self: flex-end;
    padding: 10px 25px;
    background-color: #ffff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn-area:hover {
    background-color: #ffff;
    color: #fff;
    font-weight: 600;
}


@media screen and (max-width: 900px) {
    .card {
        flex-direction: column;
        height: auto;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .project {
        flex-direction: column;
    }
}

@media screen and (max-width: 1250px) {
    .wrapper {
        max-width: 95%;
    }
}
</style>
-->
<!--
<div>
    <form method="get">
        <div class="form_container">
            <input type="text" name="q" placeholder="Search" size="50">
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
            <a href="{% url 'all' %}">
                <i class="fa fa-undo"></i>
            </a>
        </div>
    </form>
</div>
-->
<br><br><br><br>
<!--
<div class="wrapper">
    {% if adlist %}
    <div class="project">
        <div class="card-container">
            {% for ad in adlist %}
            <div class="card">
                {% if ad.content_type %}
                <a href="{%url 'ad_detail' ad.id%}"><img src="{% url 'ad_pic' ad.id %}"></a>
                {% endif %}
                <div class="card-detail">
                    <h1>{{ ad.title }}</h1>
                    {% if ad.owner == user %}
                    <h3>
                      <a href="{% url 'ad_update' ad.id %}">
			<i class="bi bi-pencil-square">
			  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
			    
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
			</svg></i></a>
		      
                      <a href="{% url 'ad_delete' ad.id %}">

			<i class="bi bi-trash">

			  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
			  </svg>
			  
			</i>

		      </a>
			<br><br>
			<form action="{%url 'add_to_cart' %}" method="post">
			  {%csrf_token%}
			  
			  <button type="submit" class="btn btn-primary" >Add Cart</butto>

			</form>
                    </h3>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <p class="btn-area">
                        <a href="#" onclick="favpost('{% url 'unfavourite' ad.id %}', {{ ad.id }}); return false;"
                            {% if ad not in fav_ads %} style="display:none" {% endif %}
                            id="favourite_star_{{ ad.id }}">
                            <span class="fa-stack" style="vertical-align: middle;">
                                <i class="fa fa-star fa-stack-1x" style="color: orange;"></i>
                                <i class="fa fa-star-o fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="#" onclick="favpost('{% url 'favourite' ad.id %}', {{ ad.id }}); return false;"
                            {% if ad in fav_ads %} style="display:none" {% endif %}
                            id="unfavourite_star_{{ ad.id }}">
                            <span class="fa-stack" style="vertical-align: middle;">
                                <i class="fa fa-star fa-stack-1x" style="display:none;"></i>
                                <i class="fa fa-star-o fa-stack-1x"></i>
                            </span>
                        </a>
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<p>There are no ads</p>
{% endif %}

<div class="d-flex flex-nowrap">


  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
-->




<div class="container tm-4">

  {% if adlist %}
  <div class="row justify-content-center">
    
      {% for ad in adlist %}
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center"> <!-- Bootstrap grid with responsive columns -->
	
        <div class="card" style="width:100%;">
	  
                {% if ad.content_type %}
                <a href="{% url 'ad_detail' ad.id %}">
                    <img src="/media/{{ad.variants.first.image}}" class="card-img-top" alt="{{ ad.title }}" width="300" height="200">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ ad.title }}</h5>
                    {% if ad.owner == user %}
		    
                    <p class="card-text">
                        <a href="{% url 'ad_update' ad.id %}" class="btn btn-outline-secondary btn-sm">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a href="{% url 'ad_delete' ad.id %}" class="btn btn-outline-danger btn-sm">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </p>
		    
                    <form action="{% url 'add_to_cart'%}" method="post" id = "add-cart-{{ad.id}}" class="mt-2" >
                      {% csrf_token %}
		      <input type="hidden" name="title" value="{{ ad.title }}">
		      <input type="hidden" name="color" value="{{ ad.variants.first.color.id }}">
		      <input type="hidden" name="size" value="{{ ad.variants.first.size }}">
		      <input type="hidden" name="price" value="{{ ad.variants.first.price }}">
		      <input type="hidden" name="image_url" value="/media/{{ ad.variants.first.image }}">
		      <input type="hidden" name="quantity" value="1">
                      <button type="submit" class="btn btn-dark" onclick="addcart({{ad.id}}); return false;">Add to Cart</button>
                    </form>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <div class="mt-3">
                        <a href="#" onclick="favpost('{% url 'unfavourite' ad.id %}', {{ ad.id }}); return false;"
                            {% if ad not in fav_ads %} style="display:none" {% endif %}
                            id="favourite_star_{{ ad.id }}">
                            <i class="fa fa-star" style="color: orange;"></i>
                        </a>
                        <a href="#" onclick="favpost('{% url 'favourite' ad.id %}', {{ ad.id }}); return false;"
                            {% if ad in fav_ads %} style="display:none" {% endif %}
                            id="unfavourite_star_{{ ad.id }}">
                            <i class="fa fa-star-o"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
		
        </div>
	
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<p>There are no ads</p>
{% endif %}





<script type="text/javascript">
function toggleInlineDisplay(star_id) {
    var elem = document.getElementById(star_id);
    if (window.getComputedStyle(elem).display == "inline") {
        elem.style.display = 'none';
        elem.dataset.previousDisplay = 'inline';
    } else if (window.getComputedStyle(elem).display == "block") {
        elem.style.display = 'none';
        elem.dataset.previousDisplay = 'block';
    } else {
        if (typeof elem.dataset.previousDisplay == 'string') {
            elem.style.display = elem.dataset.previousDisplay;
        } else {
            elem.style.display = 'inline';
        }
    }
}

function favpost(url, id) {
    console.log("posting to " + url);
    fetch(url, { method: 'POST', body: '{}' })
        .then((response) => {
            console.log("finished posting " + url);
            toggleInlineDisplay("favourite_star_" + id);
            toggleInlineDisplay("unfavourite_star_" + id);
        })
        .catch((error) => {
            alert(error);
        });
}

  function addcart(itemId) {
      const form = document.getElementById("add-cart-"+itemId);
      const url = form.action;
      const csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;
      const formData = new FormData(form);
      const button = form.querySelector('button[type="submit"]');
      
      // get data for the first variation of the product
      const title = form.querySelector('input[name="title"]').value;
      const color = form.querySelector('input[name="color"]').value;
      const size = form.querySelector('input[name="size"]').value;
      const price = form.querySelector('input[name="price"]').value;
      const quantity = form.querySelector('input[name="quantity"]').value;
      const image_url = form.querySelector('input[name="image_url"]').value;

      button.disabled = true;
      button.innerHTML = '<div class="spinner-border" role="status"></div>';
      // Execute a function after 2 seconds (2000 milliseconds)
      setTimeout(function() {
	  console.log("This message appears after 2 seconds");
      }, 5);
      
    
    
      fetch(url, {
          method: 'POST',
	  headers: {
	      'Content-Type': 'application/json',
	      'X-CSRFToken': csrfToken },  // Correct header name
          body:JSON.stringify({"id":itemId,
			       "title":title,
			       "color":color,
			       "size":size,
			       "price":price,
			       "quantity":quantity,
			       "image_url":image_url,
			      }),
      })
	  .then((response) => {
              if (!response.ok) {  // Check if the response is OK (status in the range 200-299)
		  throw new Error('Network response was not ok');
              }
              return response.json();  // Parse the JSON from the response
	  })
	  .then((data) => {
              console.log("Server responded with data:", data);
	      if (data) {
		  
		  button.disabled =false;
		  button.innerHTML = 'Add To Cart';
		  
		  
              } else {
		  alert("There was an error adding the item to the cart.");
              }
	  })
	  .catch((error) => {
              console.error("Fetch error:", error);
              alert("Error: " + error.message);
	  });
  }
  



  
</script>

{% endblock %}
