{%extends "ads3/base_menu.html"%}

{%load custom_filter%}
{%block content%}




  <div>
    
  <h5>Your Cart <span class="badge rounded-pill bg-primary">{{item_count}}</span></h5>
  
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      {% for key , item in items.items %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>{{ item.title }}</strong><br>
          <small>Brief description</small>
        </div>
        <span>{{ item.quantity|multiply:item.price }} LY</span>
      </li>
      {% endfor %}
      <!--
      <li class="list-group-item text-success d-flex justify-content-between align-items-center">
        <div>
          <strong>Promo code</strong><br>
          <small>EXAMPLECODE</small>
        </div>
        <span>−$5</span>
      </li>
      -->
      
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong> Cart Total (LYD)</strong>
        <span>{{cart_total}}LYD</span>
      </li>

      
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>Total (LYD)</strong>
        <span>{{total}}LYD</span>
      </li>

    </ul>

    <div class="card-footer">
      <a class="btn btn-dark" href="{%url 'order' %}" role="button"> <b>Complete Order </b></a>
    </div>
  </div>
</div>

  <!--
  <a class="btn btn-dark" href="{%url 'all'%}" role="button"><i class="bi bi-shop">

      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
	<path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z"/>
      </svg>

    </i><b>Continue Shopping</b></a>

  <a class="btn btn-dark" href="{%url 'order_list'%}" role="button">
    <i class="bi bi-clock-history">

      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
	<path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
	<path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
	<path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
      </svg>
    </i>
    <b>Orders History</b></a>
  -->
</div>


{%endblock%}


