
{% extends 'base_bootstrap.html' %}
{% load app_ad3_tags %} <!-- see home/templatetags/app_tags.py and dj4e-samples/settings.py -->
{% load is_driver %}
{% block navbar %}
{% load static %}

<style>
  .bg-indigo-500 {
      background-color: #3f51b5; /* Equivalent to indigo-500 color */     
  }

   .offcanvas-fixed {
       position: fixed;
       top: 0;
       right: 0; /* Adjust based on where you want the menu */
      
       z-index: 1050; /* Make sure it's above other content */
       border-radius: 1px; width: 100%;
       }

   
</style>


<nav class="navbar navbar-dark  bg-indigo-500 shadow-lg fixed-top" >
  <div class="container-fluid">
    <!-- Site name aligned to the left -->
    <a class="navbar-brand" href="{% url 'all' %}" style="margin-left:10px">Yorokobi</a>

  
        <div class="d-flex align-items-center">
      <!-- "Add to Home Screen" button with customized styling -->
      <button id="btnSave" class="btn" style="display: none;">
        <i class="bi bi-house"></i> Add to Home Screen
      </button>


      
    <!-- Toggle button aligned to the right using ms-auto -->
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end bg-indigo-500 text-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header bg-indigo-500 text-white">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-indigo-500">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          
            {%if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'ad_create' %}">
                  <i class="bi bi-plus-square"></i> Create
                </a>
              </li>
	      {%endif%}
	      {% if user.is_authenticated %}
	      {% if not user|is_driver %}
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'cart_list' %}">
                  <i class="bi bi-cart3">
		    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
		      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
		    </svg>
		    <span id="cart-length" class="badge rounded-pill bg-primary"></span>
		  </i>
		  Cart
                </a>
              </li>

	      
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'all' %}?favourites=True">
                  <i class="bi bi-star">
		    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
		      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
		    </svg>
		  </i>
		  Favourite
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'order_list' %}">
                  <i class="bi bi-box-seam">
		    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
		      <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
		    </svg>
		  </i>
 Orders
                </a>
              </li>
            {% endif %}

            {% if user|is_driver %}
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'all_order' %}">
                  <i class="bi bi-boxes">
		    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
		      <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
		    </svg>
		  </i> Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'driver_order_list' %}">
                  <i class="bi bi-box2">
		    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box2" viewBox="0 0 16 16">
		      <path d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3zM7.5 1H3.75L1.5 4h6zm1 0v3h6l-2.25-3zM15 5H1v10h14z"/>
		    </svg>
		  </i> Your Order
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'delivered_order_list' %}">
                  <i class="bi bi-boxes"></i> Delivered
                </a>
              </li>
            {% endif %}
          {% endif %}
        </ul>

        <!-- Search Form -->
        <form class="d-flex mt-3" role="search" method="get">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        </form>

        <!-- Login/Logout section -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right:30px">
                <img style="width: 25px;" src="{{ user|gravatar:60 }}"/><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'logout' %}?next={% url 'redirection' %}">Logout</a></li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'login' %}?next={% url 'redirection' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>


{% endblock %}


{%block content%}

{%endblock%}


{%block footer%}
<!--
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h5>About Us</h5>
      <p>We are committed to providing the best online shopping experience.</p>
    </div>
    <div class="col-md-4">
      <h5>Quick Links</h5>
      <ul class="nav flex-column">
        <li class="nav-item"><a href="#" class="nav-link text-light">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-light">Shop</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-light">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h5>Contact Us</h5>
      <p>Email: support@yourwebsite.com</p>
      <p>Phone: +123 456 7890</p>
    </div>
  </div>
  <div class="text-center mt-3">
    <p>&copy; 2024 Your Website Name. All Rights Reserved.</p>
  </div>
</div>
-->

{%endblock%}
