
<html>


  <body>

    <h1>add your book</h1>
    <br/>

    <form method="Post">

      <label for="name">Name</label>
      <input type="text" name="name"/>
      <br/>

      <label for="auther">Auther</label>
      <input type="text" name="auther"/>
      <br/>

      <label for="puplisher">Puplisher</label>
      <input type="text" name="puplisher"/>
      <br/>

      <label for="type">Genre</label>
      <input type="text" name="type"/>
      <br/>

      {%csrf_token%}

      <input type="submit" value="submit"/>
      
     
    </form>
	




  </body>




</html>
